/* Custom CSS 
-------------------------*/
{
	font-size: 0.9em;
}
/*_________________ CSS pour ordinateur de bureau _________________*/
@media screen and (min-width: 975px) and (min-device-width: 1024px){
	body{
		background-color:#FFFFFF;
    	background-image: url([[pix:theme|arriere-plan]]);
		padding-top:0;
	}
	
	/*_________________ Bannière pour ordinateur de bureau _________________*/
	#banniere {
		background: none repeat scroll 0 0 #FFFFFF;
		background-image: url([[pix:theme|banniere-arriere-plan]]);
		background-position:top;    
		background-repeat:repeat-x;
		height: 62px;
		width: 100%;
		border-style: none;}
	
	#banniere-gauche{
		display:block;
		float:left;
		width:343px;
		height:62px;
		background-image: url([[pix:theme|banniere-gauche]]);
		background-repeat: no-repeat;}
	
	#banniere-droite{
		display:block;
		float:right;
		width:123px;
		height:62px;
		background-image: url([[pix:theme|banniere-droite]]);
		background-repeat: no-repeat;}
	
	.brand {
		display:none;	}
	 
	.navbar-inner {
		background-color: #c4291f;
		background-image: url([[pix:theme|Entete-arriere-plan]]);
		background-position:left top;    
		background-repeat:no-repeat;
		height: 36px;
		filter:none;
		border-color: #fff;
		border-style: solid;
		border-width: 1px 0;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: static;
	}
	.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    	border-width: 1px 0;
	}
	.navbar-text {
		color: #fff;
	}
	.navbar-text a:link,
	.navbar-text a:hover,
	.navbar-text a:visited
	 {
    	color: #fff;
	}
	.navbar-text a:hover
	 {
    	text-decoration:underline;
	}
	.course-content ul li.section.main {
    	background-color: #fff;
    	border: 1px solid #ddd;
	}
	
	/*_________________ Entête ordinateur de bureau _________________*/

	header h1 {
		color: #fffffb;
		font-size: 1.4em;
		margin: 0.4em;
		position: absolute;
		top: 55px;
	}
	/*_________________ Block pour ordinateur de bureau _________________*/
	.block .header h2 {
		font-size: 0.9em;
	}
	
	/*_________________ General box pour ordinateur de bureau _________________*/
	.generalbox {
		background-color: #FFFFFF;
		border: 1px solid #ddd;
		font-size: 0.9em;
		line-height: 1.4em;
		margin: 0 0 1em;
		padding: 1.5em 1.5em;
	}
	#intro.generalbox {
		padding: 1.5em;
	}
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 85%;
	}
	.empty-region-side-post.used-region-side-pre #block-region-side-pre.span4, .jsenabled.docked-region-side-post.used-region-side-pre #block-region-side-pre.span4 {
		width: 14%;
	}
	
	/*_________________ Première page pour ordinateur de bureau _________________*/
	#page-site-index .navbar-fixed-top {
		padding-bottom: 15px;
	}
	
	/*_________________ Coursse category pour ordinateur de bureau _________________*/
	#course-category-listings {
		background-color:#FFFFFF;
		border: 1px solid #ddd;
	}
}	
/*_________________ adjustements des colonnes _______________*/

@media screen and (min-width: 975px) and (max-width: 1400px){
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 74.3094%;
	}
	.empty-region-side-post.used-region-side-pre #block-region-side-pre.span4, .jsenabled.docked-region-side-post.used-region-side-pre #block-region-side-pre.span4 {
		width: 22.9282%;
	}
}

/*_________________ css mobile _________________*/
@media screen and (max-width: 975px){
	/*_________________ Afficher logo USB version mobile _________________*/
	.brand {
		 height:20px;
		 width: 156px;
		 background-image: url([[pix:theme|banniere-droite-mobile]]);
		 background-repeat: no-repeat;
		 background-position: 20px center;}
		 
	 /*_________________ Navbar mobile _________________*/
	.navbar-inner {
		background-color: #c4291f;
		background-image: none;
		color:#fff;
	}
	.navbar-text {
    color: #fff;
	}
	.navbar-text a:link,
	.navbar-text a:visited {
		color: #fff;
		text-decoration:underline;
	}
	.navbar .btn-navbar {
		background-color: #c4291f;
		background-image: none;
		border-color: #fff;
		box-shadow: none;
		color: #fff;
	}
	.navbar .btn-navbar .icon-bar {
		background-color: #fff;
	}
	.navbar .btn-navbar:hover,
	.navbar .btn-navbar:focus,
	.navbar .btn-navbar:active,
	.navbar .btn-navbar.active,
	.navbar .btn-navbar.disabled,
	.navbar .btn-navbar[disabled]{
		background-color: #fff;
		color: #c4291f;
	}
	.navbar .btn-navbar:hover .icon-bar,
	.navbar .btn-navbar:focus .icon-bar,
	.navbar .btn-navbar:active .icon-bar,
	.navbar .btn-navbar.active .icon-bar,
	.navbar .btn-navbar.disabled .icon-bar,
	.navbar .btn-navbar[disabled] .icon-bar  {
		background-color: #c4291f;
	}
	
	/*_________________ Course-content mobile _________________*/
	.course-content ul li.section.main {
		border-bottom: 2px solid #c4291f;
		margin-top: 0;
	}
	
	/*_________________ Entête mobile _________________*/
	header h1 {
		font-size: 1.6em;
		color:#c4291f;
	}

}

/*_________________ lien login _________________*/
.usermenu .login {
    color: #fff;
}
.usermenu .login a {
    color: #e8ea55;
}

/*_________________ Breadcrumb _________________*/
.breadcrumb {
	background-image: url([[pix:theme|entete-arriere-plan]]);
}
.breadcrumb > li {
	color:#fff;
	text-shadow: none;
}
.breadcrumb > li a:link, 
.breadcrumb > li a:visited {
	color: #fa5;
    font-weight: bold;
    text-decoration: none;
	text-shadow: none;
}
/*_________________ User Menu _________________*/
.usermenu .moodle-actionmenu .toggle-display {
    color: #fff;
}
.usermenu .moodle-actionmenu .toggle-display:hover {
    color: #e8ea55;
}
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    border-top-color: #fff;
} 

.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
    background-color:#c4291f;
	background-image:none;
} 
.jsenabled .usermenu .moodle-actionmenu.show .usertext{
    color: #333333;
}

/*_________________ Logo _________________*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/*_________________ Block _________________*/
.block {
    padding: 0 0 8px;
    background-color: #fff;    
	border: 1px solid #ddd;
}
.block .header h2 {
	background-image: url([[pix:theme|entete-arriere-plan]]);
    color: #fff;
	font-size: 0.9em;
}

/*_________________ Legend _________________*/
legend {
    border-bottom-color: #e8ea55;
    color: #333;
}

/*_________________ Entête _________________*/
h1 {
	color:#000066;
	font-size:1.5em;
}
h2 {
  	color:#663333;
	font-size:1.3em;
}
h3 {
  	color:#000066;
	font-size:1.2em;
}
h4 {
  	color:#003E6A;
	font-size:1.1em;
}
h5 {
  	color:#663333;
	font-size:1.1em;
}

/*_________________ Contenu _________________*/
.content h1 {
	color:#000066;
}
.content h2 {
  	color:#663333;
}
.content h3 {
  	color:#000066;
}
.book_content h1 {
	color:#000066;
}
.book_content h2 {
  	color:#663333;
}
.book_content h3 {
  	color:#000066;
}
.sectionname {
	font-size: 1.4em;
  	color:#000066;
}
.course-content ul li.section.main.current {
    background-color: #d9edf7;
}

/*_________________ Contenu spécial_________________*/
.fondBleu {
    background-color: #CCFFFF;
    border: 0 none;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}
  
.fondBleu2 {
    background-color: #CFF;
    border: 0 none;
    display: inline-block;
    margin-right: 5px;
    padding: 0 10px;
	width:650px;
}
.font_vert {
	width:100%;
	margin-bottom: 30px;
	margin-top: 10px;
	background-color: #D9FFEC;
	padding: 5px;
}

.enteteTableau {
    background-color: #CFF;
    font-weight:bold;
}
.bouton {
    display: inline-block;}
.boutonSuivant {
    display: block;
    padding-bottom: 10px;
    text-align: right;
}
.bouton a:link,
.bouton a:visited {
    background-color: #0066CB;
    color: #FFFFFF;
    padding: 5px;
	text-decoration:none;
	border-radius: 7px;  
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;

}
.bouton a:hover{
    background-color: #E8F6F6;
    color: #000000;
    padding: 5px;
	text-decoration:none;
}    
.objectifs_boite {
	width:99%;
	border:2px solid;
	border-color:#1BC6E0;
	box-shadow:   0 0 15px #007e40;
	-moz-box-shadow:    i0 0 15px #007e40;
	-webkit-box-shadow: 0 0 15px #007e40;
	margin-bottom: 30px;
	margin-top: 10px;
}
.exercise_boite {
	border:3px solid;
	border-color:#1BC6E0;
	borde-top-color:#00000;
	padding:30px;
	margin-right: 15px;
	margin-left:15px;
    background-image: url([[pix:theme|ex_bg]]);
	background-repeat: repeat-x;
	border-top-color: #18B3C9;
	background-color: #B8EEF8;
	margin-bottom: 30px;
	margin-top: 10px;
}
.surlingne_boite {
	border:3px solid;
	border-color:#FF6633;
	borde-top-color:#00000;
	padding:30px;
	margin-right: 15px;
	margin-left:15px;
    background-image: url([[pix:theme|surlingne_bg]]);
	background-repeat: repeat-x;
	border-top-color: #FF9933;
	background-color: #FF9999;
	margin-bottom: 30px;
	margin-top: 10px;
}
.lecture_boite {
	border:3px solid;
	border-color:#C7D9A4;
	borde-top-color:#00000;
	padding:10px;
	margin-right: 15px;
	margin-left:15px;
    background-image: url([[pix:theme|lec_bg]]);
	background-repeat: repeat-x;
	border-top-color: #53682B;
	background-color: #EAF1DD;
	margin-bottom: 30px;
	margin-top: 10px;
}

.objectif_cible {
    background-image: url([[pix:theme|cible]]);
    background-repeat: no-repeat;
    padding-left: 45px;
	min-height: 40px; 
	height:auto !important; 
	height: 40px; 
}
.note {
	width:200px;
	-webkit-border-radius: 0px 83px 0px 99px;
	-moz-border-radius: 0px 83px 0px 99px;
	border-radius: 0px 83px 0px 99px;
	border:5px solid #CCDFFF;
	background-color:#396CE3;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 10px;
	color: #FFF;
}

.Resume {
	width:90%;
	-webkit-border-radius: 99px 0px 0px 0px;
	-moz-border-radius: 99px 0px 0px 0px;
	border-radius: 99px 0px 0px 0px;
	border:5px solid #00112D;
	background-color:#5BC6EE;
	padding: 30px;
	color: #000;
	margin-bottom: 30px;
	margin-top: 10px;
}
.Resumehead {
	border:2px solid #FFFFFF;
	background-color:#000000;
	padding: 5px;
	color: #FFF;
	padding: 5px;
}

/*_________________ Liens _________________*/
a:link,
a:visited {
    color: #0000FF;
	text-decoration:none;
}
a:hover {
	color:#FF0000;
	text-decoration:underline;
}

/*_________________ hr _________________*/
hr {
	color:#e0e31a;
}

/*_________________ Tableaux _________________*/
table caption,
.course-content th,
.course-content td, 
.generalbox th, 
.generalbox td, 
.oublog-post th, 
.oublog-post td, 
.forumpost th, 
.forumpost td {
    border: 1px solid;
}
.foldertree td{
    border: 0 none;
}

/*_________________ Calendrier _________________*/
table.calendartable caption {
    border: 0 none;
}
.block .calendar-event-panel .yui3-overlay-content h2.eventtitle {
    font-size: 13px;
    line-height: 1.2;
}
.block .minicalendar td a {
    font-size: 13px;
    font-weight: bold;
}

/*_________________ Forums _________________*/
.path-mod-forum .forumheaderlist {
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
}
.path-mod-forum .forumheaderlist .discussion .topic, .path-mod-forum .forumheaderlist .discussion .topic.starter, .path-mod-forum .forumheaderlist .discussion .picture, .path-mod-forum .forumheaderlist .discussion .author, .path-mod-forum .forumheaderlist .discussion .replies, .path-mod-forum .forumheaderlist .discussion .lastpost {
    padding: 0.3em 0.6em;
    vertical-align: top;
}
.forumpost {
    background-color: #fff;
    border: 1px solid #ddd;
}

/*_________________ Boutons _________________*/
input[type="submit"], button {
	background-color:#c4291f;
	color:#fffffb;
	border-color:#ddd;
	border-style:solid;
	border-width:1px;
	margin-left:2px;
	background-image:none;
}
button[disabled]:active, 
button[disabled],
input[type="reset"][disabled]:active,
input[type="reset"][disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
select[disabled] > input[type="button"],
select[disabled] > input[type="button"]:active,
input[type="submit"][disabled]:active,
input[type="submit"][disabled] {
	border-color:#999999;
	border-style:solid;
	border-width:1px;
	color: GrayText;
	background-color:#FFFFFF;
	cursor: inherit;
	background-image:none;
}
input.form-submit, 
input#id_submitbutton, 
input#id_submitbutton2, 
.path-admin .buttons input[type="submit"], 
td.submit input {
    background-color: #c4291f;
    background-image: none;
	border-color:#ddd;
	color:#fffffb;
    text-shadow:none;
}
input[type="submit"]:visited,
input[type="submit"]:hover,
input[type="submit"]:active,
button:visited,
button:hover,
button:active,
input.form-submit:visited,
input.form-submit:hover, 
input.form-submit:active, 
input#id_submitbutton:visited,
input#id_submitbutton:hover,
input#id_submitbutton:active, 
input#id_submitbutton2:visited,
input#id_submitbutton2:hover, 
input#id_submitbutton2:active, 
.path-admin:hover .buttons input[type="submit"]:visited, 
.path-admin:hover .buttons input[type="submit"]:hover,
.path-admin:hover .buttons input[type="submit"]:active,
td.submit input:visited, 
td.submit input:hover, 
td.submit input:active {
	background-image:none;
	background-color:#fffffb;
	color:#c4291f;
}

input[type="submit"]:focus {
	background-image:none;
	background-color:#fffffb;
	color:#000000;
}
button[disabled]:hover,
input[type="reset"][disabled]:hover,
input[type="button"][disabled]:hover,
select[disabled] > input[type="button"]:hover,
input[type="submit"][disabled]:hover {
	background-image:none;
}

/*_________________ Texte droit d'auteur dans les pieds de page _________________*/
.droitauteur {
	font-size:0.65em;
	text-align:center;
}

/*_________________ Pied de page _________________*/
#page-footer {
    border-top: 2px solid #ddd;
    margin-top: 1em;
    padding: 1em 0;
    font-size: 0.8em;
}

/*_________________ Cacher les cours manquants _________________*/
.coursManquants{
	display:none;
}

/*_________________ Liens grisonées _________________*/
.course-content ul li.section.hidden .sectionname > span, .course-content ul li.section.hidden .content > div, .course-content ul li.section.hidden .activity .activityinstance {
    opacity: 0.85;
}
a.dimmed, a.dimmed:link, a.dimmed:visited, a.dimmed_text, a.dimmed_text:link, a.dimmed_text:visited, .dimmed_text, .dimmed_text a, .dimmed_text a:link, .dimmed_text a:visited, .usersuspended, .usersuspended a, .usersuspended a:link, .usersuspended a:visited, .dimmed_category, .dimmed_category a {
    color: #777;
}

/*_________________ Page Mon Moodle _________________*/
#page-my-index .coursManquants{
	display:block;
}

/*_________________ Modifications OuBlog _________________*/
#page-mod-oublog-view #middle-column.has-left-column, #page-mod-oublog-viewpost #middle-column.has-left-column, #page-mod-oublog-allposts #middle-column.has-left-column {
    margin-left: 0;
}

/*_________________ AccuWeather Widget _________________*/
#page-site-index div.aw-widget-current-inner a.aw-toggle {
    display: none;
}
#page-site-index div.aw-widget-current-inner {
    padding-bottom: 0 !important;
}
#page-site-index div.aw-widget-current-inner div.aw-widget-content {
    border: medium none !important;
}

/*_________________ Quiz _________________*/
.answer label {
	padding-left:15px;
}

/*_________________ Page d'accueil Moodle _________________*/
#page-site-index .sitetopic {
	padding:0;
}
#page-site-index .sitetopic .no-overflow {	
	overflow:hidden;
}
#page-site-index .sitetopic p{ 
    margin-left: 1.5em;
    margin-right: 1.5em;
}
#page-site-index .block .content {
    padding: 0;
    word-wrap: break-word;
}
#page-site-index .block {
    padding: 0;
}
#page-site-index .content .no-overflow {
    padding-bottom: 0;
}
#page-site-index .content p {
    margin: 0 14px 10px;
}
#page-site-index .content ul, 
#page-site-index .content ol {
    padding: 0 14px;
}
#page-site-index .block .header h2 {
    margin: 0 0 5px;
}
#page-site-index .rememberusername label{
	font-size:12px;
}
.rememberpass {
	padding:10px 0;
}
#page-site-index .content .motdepasseoublie p{
	margin-left:0;
	margin-right:0;
	font-size: 0.8em;
	text-align:center;
}
#page-site-index .content .motdepasseoubliequestion{
	fon-size:0.9em;
	font-weight:bold;
}
#page-site-index p.sansMarge{
	margin-left:0;
	margin-right:0;
}
/*_________________ tableau objectifs _________________*/
.tableauObjectifs {
	width:90%;
}
.tableauObjectifs th {
    background-color: #C4291F;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.tableauObjectifs td {
    background-color: #EBEBEB;
    border-color: #FFFFFF;
    vertical-align: top;
}
.tableauCDSB7081rangblanc td{
	background-color:#fff;
}
.tableauCDSB7081 td{
	padding:5px;
}
.tableauCDSB7081 th{
	color:#000066;
	padding:5px;
	text-align:left;
}
.tableauCDSB7081bg{
	background-color: #f3cece;
}
.tableauCDSB7081sansbordure td{
	border-style:none;
}
.tableau_cdsb_7061 th {
	background-color: #C4291F;
	color: #fff;
	text-align: left;
	border:0;
	font-size: 12px;
}
.tableau_cdsb_7061 tr.impair td {
    background-color: #E9BDBB;
}
.tableau_cdsb_7061 td {
	font-size: 11px;
	border:0;
}
.tableau_cdsb_7061 td.marron {
	font-size: 12px;
	border:0;
	background-color: #881B15;
	color: #fff;
	padding-left: 8px;
	padding-right: 8px;
}
.tableau_cdsb_7061 td.gris {
	font-size: 11px;
	border:0;
	background-color: #E9DCDA;
	padding-left: 8px;
	padding-right: 8px;
}
.tableau_cdsb_7061 td.impair {
	font-size: 11px;
	border:0;
	background-color: #E9BDBB;
	padding-left: 8px;
	padding-right: 8px;
}
.tableau_cdsb_7061_border td,
.tableau_cdsb_7061_border td.gris,
.tableau_cdsb_7061_border td.impair{
	border-width:1px;
	border-style:solid;
}

.tableau_cdsb_7061 td.rosepale {
	font-size: 11px;
	border:0;
	background-color: #F3DBDA;
	padding-left: 8px;
	padding-right: 8px;
}
.tableauCDSBImage td {
    border: 0 none;
	padding:0;
}
.tableauCDSBImage tr {
    line-height:0;
}
/*_________________ Resume _________________*/
.Resume {
	width:90%;
	-webkit-border-radius: 99px 0px 0px 0px;
	-moz-border-radius: 99px 0px 0px 0px;
	border-radius: 99px 0px 0px 0px;
	border:5px solid #00112D;
	background-color:#5BC6EE;
	padding: 30px;
	color: #000;
}
.Resumehead {
	border:2px solid #FFFFFF;
	background-color:#000000;
	padding: 5px;
	color: #FFF;
	padding: 5px;
}
/*_________________ espace _________________*/
.espace{
	height:1.2em;
}
/*_________________ quiz _________________*/
.answer label {
	padding-left:15px;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
