html {
    background-color:#fcf5b4;
}
/*présentation de la page*/
#page-content #region-main-box
{
    left: 230px;
}
#page-content #region-post-box
{
    margin-left: -230px;
}
#page-content #region-main
{
    margin-left: 230px;
}
#page-content #region-main .region-content {
    padding-right: 0;
}
#page-content #region-pre
{
    width: 230px;
	left:0px;
}
#page-content #region-pre .region-content {
    padding-left: 0;
}
/*Bannière qui apparait dans l'entête*/
#banniere {
    background-color:#46081b;
    height: 62px;
    width: 100%;    
	border-style: solid;
    border-width: 0;
	border-color:#a1a365;
}

#banniere-gauche{
display:block;
float:left;
width:630px;
height:62px;
background-image: url([[pix:theme|bnr-gauche]]);
background-repeat: no-repeat;}

#banniere-droite{
display:block;
float:right;
width:170px;
height:62px;
background-image: url([[pix:theme|bnr-droite]]);
background-repeat: no-repeat;}

#page-header {
    background-color: #903032;
    border-color: #a1a365;
    border-style: solid;
    border-width: 0;
    color: #FFFFFF;
}
.logininfo a:link,
.logininfo a:visited,
.logininfo a:hover
{
    color: #efebee;
    text-decoration: underline;
}

/*barre de navigation*/
.navbar {
    background-color:#bf383f;
	border-color:#a1a365;
    border-style: solid;    
	border-width: 0;
    color: #FFFFFF;
    padding: 3px 0.5em;
    width: auto;
}
.navbar a:link, .navbar a:visited {
    color: #FFFFFF;
	text-decoration:none;    
	font-weight: bold;
}

/*block*/
.block {
    border: 1px solid #e0e31a;
    background-color: #FFFFFF;
}
.block .header h2 {
    background-color:#bf383f;
	color:#FFFFFF;
    font-size: 0.9em;
    font-weight: bold;
	padding:0.4em;
}
.block_navigation .block_tree li ul {
    line-height: 1em;
}
.block .content {
    padding: 4px;
	font-size:0.9em;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
    background-color: #FFFFFF;
    border: 1px solid #e0e31a;
    padding: 1em 0 0;
	font-size:0.9em;
}
.mform fieldset {
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.mform fieldset legend {
    background-color: #FFFFFF;
    padding: 0 10px;
}
body {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 90%;
    line-height: 1.2em;
	margin: 5px 10px;
}
.headermain {
    font-size: 1.4em;    
	color: #FFFFFF;
	margin: 0.4em 0.4em;
}

/*General box*/
.generalbox {
    background-color: #FFFFFF;
    border: 1px solid #e0e31a;
	font-size: 0.9em;
    line-height: 1.4em;
    margin: 0 0 1em;
    padding: 1.5em 1.5em;
}
/*Entête*/
h1 {
  font-size:1.4em;
color:#323f5e;
line-height:1.1em;
}
h2 {
  font-size:1.2em; 
  color:#d89a69;
  margin-top:1.9em;
}
h3 {
  font-size:1.1em; 
  margin-top:1.6em;
  color:#600023;
}
h4 {
  font-size:1.0em;
}
h5 {
  font-size:1.2em;
  color:#323f5e;
  margin-top:1.9em;
}

/*Contenu*/
.content h1 {
color:#323f5e;
}

.content h2 {
color:#d89a69;
margin-top:auto;

}

.content h3 {
color:#600023;
margin-top:auto;
}

.book_content h1 {
color:#323f5e;
}

.book_content h2 {
color:#d89a69;
margin-top:1.9em;
}

.book_content h3 {
color:#600023;
margin-top:1.8em;
}
.sectionname {
	color: #4d0833;
	font-weight: bold;
	font-size: 1.4em;
}
/*liens*/
a:link,
a:visited {
    color: #a32836;
	text-decoration:none;
}
a:hover {
	color:#FF0000;
	text-decoration:underline;
}
hr {
color:#000000;
}
/*blogue*/
.oublog-post {
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
/*livres*/
.block_book_toc .content{
font-size:1em;}
/*notes*/
table#user-grades td.userfield, table#user-grades th, .path-grade-report-grader div.gradeparent, .path-grade-report-grader .ie6 form, table#user-grades td.ajax {
    font-size: 1.1em;
    text-align: left;
}
/*forum*/
.forumpost {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 1px 5px 3px;
}
.path-mod-forum .forumheaderlist {
    background-color: #FFFFFF;
    border-color: #000000;
}
.path-mod-forum .forumheaderlist td {
    border-color: #000000;
}
/*text droit d'auteur dans les pieds de page*/
.droitauteur {
font-size:0.65em;
text-align:center;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-top:0;
	margin-bottom:0;
}
.listeAlpha{
	list-style-type:upper-alpha;
}
.course-content th, 
.course-content td,
.generalbox th, 
.generalbox td,
.oublog-post th, 
.oublog-post td,
.forumpost th,
.forumpost td{
    border: 1px solid;
}
/*Modification oublog*/
#page-mod-oublog-view #middle-column.has-left-column, #page-mod-oublog-viewpost #middle-column.has-left-column, #page-mod-oublog-allposts #middle-column.has-left-column {
    margin-left: 0;
}

/*
Button
-----------------------*/
/*use to include select, input,*/
input[type="submit"], button, a.standardbutton {
    background-color: #d89a69;
    font-family: monospace, Courier, "Courier New";
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    margin: 0 2px;
    cursor: pointer;
	border-color:#e0e31a;
	border-width:1px;
	border-style:solid;
}

input[type="submit"]:hover, button:hover, a.standardbutton:hover {
    background-color: #fff;
	color:#4b7eba;
}
/*pied de page*/
#page-footer {
    background-color: #262a45;
	background-image: url([[pix:theme|pied_page-gauche]]);
	background-repeat: no-repeat;;
    border-color: #968686;
    border-style: solid;
    border-width: 2px 0 0;
    color: #fff;
    padding: 10px 0 0;
}
#page-footer a:link, #page-footer a:visited {
    color: #FFFFFF;
	text-decoration:none; 
}
/* hidden */
.hidden.sectionname {
    display: none;
    visibility: hidden;
}