/* Custom CSS 
-------------------------*/
body{
	font-size: 0.9em;
}
/*_________________ CSS pour ordinateur de bureau _________________*/
@media screen and (min-width: 975px) and (min-device-width: 1024px){
	body{
		background-color:#FFFFFF;
		background-image: url([[pix:theme|bg]]);
		background-repeat:repeat;
		padding-top:0;
	}
	
	/*_________________ Bannière pour ordinateur de bureau _________________*/
	#banniere {
		background-image: none;
		background-color:#f0f232;
		height: 62px;
		width: 100%;
		border-style: none;
		min-width:948px;}
	
	#banniere-gauche{
		display:block;
		float:left;
		width:669px;
		height:62px;
		background-image: url([[pix:theme|banniere-gauche]]);
		background-repeat: no-repeat;}
	#banniere-droite{
		display:block;
		float:right;
		width:279px;
		height:62px;
		background-image: url([[pix:theme|banniere-droite]]);
		background-repeat: no-repeat;}
	.brand {
		display:none;	}
	 .navbar {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar-inner {
		background-color: #129dc0;
		background-image:none;
		height: 36px;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: static;
	}
	.navbar-text {
		color: #fff;
	}
	.navbar-text a:link,
	.navbar-text a:hover,
	.navbar-text a:visited
	 {
    	color: #fff;
	}
	.navbar-text a:hover
	 {
    	text-decoration:underline;
	}
	.course-content ul li.section.main {
    	background-color: #fff;
    	border: 1px solid #f0f232;
	}
	
	/*_________________ Entête ordinateur de bureau _________________*/

	header h1 {
		color: #fffffb;
		font-size: 1.4em;
		margin: 0.4em;
		padding-left: 3px;
		position: absolute;
		top: 85px;
	}
	/*_________________ Block pour ordinateur de bureau _________________*/
	.block .header h2 {
		font-size: 0.9em;
	}
	
	/*_________________ General box pour ordinateur de bureau _________________*/
	.generalbox {
		background-color: #FFFFFF;
		border: 1px solid #e0e31a;
		font-size: 0.9em;
		line-height: 1.4em;
		margin: 0 0 1em;
		padding: 1.5em 1.5em;
	}
	#intro.generalbox {
		padding: 1.5em;
	}
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 85%;
	}
	.empty-region-side-post.used-region-side-pre #block-region-side-pre.span4, .jsenabled.docked-region-side-post.used-region-side-pre #block-region-side-pre.span4 {
		width: 14%;
	}
	
	/*_________________ Première page pour ordinateur de bureau _________________*/
	#page-site-index .navbar-fixed-top {
		padding-bottom: 15px;
	}
	
	/*_________________ Coursse category pour ordinateur de bureau _________________*/
	#course-category-listings {
		background-color:#FFFFFF;
		border: 1px solid #f0f232;
	}
}	
/*_________________ css mobile _________________*/
@media screen and (max-width: 975px){
	/*_________________ Afficher logo USB version mobile _________________*/
	.brand {
		 height:20px;
		 width: 156px;
		 background-image: url([[pix:theme|banniere-droite-mobile]]);
		 background-repeat: no-repeat;
		 background-position: 20px center;}
		 
	 /*_________________ Navbar mobile _________________*/
	.navbar-inner {
		background-color: #0b9ec1;
		background-image: none;
		color:#fff;
	}
	.navbar-text {
    color: #fff;
	}
	.navbar-text a:link,
	.navbar-text a:visited {
		color: #fff;
		text-decoration:underline;
	}
	.navbar .btn-navbar {
		background-color: #0b9ec1;
		background-image: none;
		border-color: #fff;
		box-shadow: none;
		color: #fff;
	}
	.navbar .btn-navbar .icon-bar {
		background-color: #fff;
	}
	.navbar .btn-navbar:hover,
	.navbar .btn-navbar:focus,
	.navbar .btn-navbar:active,
	.navbar .btn-navbar.active,
	.navbar .btn-navbar.disabled,
	.navbar .btn-navbar[disabled]{
		background-color: #fff;
		color: #0b9ec1;
	}
	.navbar .btn-navbar:hover .icon-bar,
	.navbar .btn-navbar:focus .icon-bar,
	.navbar .btn-navbar:active .icon-bar,
	.navbar .btn-navbar.active .icon-bar,
	.navbar .btn-navbar.disabled .icon-bar,
	.navbar .btn-navbar[disabled] .icon-bar  {
		background-color: #0b9ec1;
	}
	
	/*_________________ Course-content mobile _________________*/
	.course-content ul li.section.main {
		border-bottom: 2px solid #0b9ec1;
		margin-top: 0;
	}
	
	/*_________________ Entête mobile _________________*/
	header h1 {
		font-size: 1.6em;
		color:#0b9ec1;
	}

}

/*_________________ Breadcrumb _________________*/
#titreDEP{
    background-color: #000000;
    color: #FFFFFF;
	background-image: url([[pix:theme|coin-banniere-titre]]);
	background-position: left top;
    background-repeat: repeat-y;
    color: #fff;
    display: block;
    font-size: 1.6em;
	min-height: 22px;
    padding: 5px 0 5px 10px;
}


/*_________________ Breadcrumb _________________*/
.breadcrumb {
    background-color: #f0f232;
}

/*_________________ Logo _________________*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/*_________________ Block _________________*/
.block {
    padding: 0 0 8px;
    background-color: #fff;
    border: 1px solid #f0f232;
}
.block .header h2 {
    background-color: #000000;
    color: #FFFFFF;
	font-size: 0.9em;
	background-image: url([[pix:theme|coin-banniere-titre]]);
	background-repeat:repeat-y;
	background-position: top left;
}

/*_________________ Legend _________________*/
legend {
    border-bottom-color: #f0f232;
    color: #333;
}

/*_________________ Entête _________________*/
h1 {
	color:#129dc0;
	font-size:1.5em;
}
h2 {
  	color:#000;
	font-size:1.3em;
}
h3 {
	color:#129dc0;
	font-size:1.2em;
}
h4 {
  	color:#000;
	font-size:1.1em;
}
h5 {
	color:#129dc0;
	font-size:1.1em;
}

/*_________________ Contenu _________________*/
.content h1 {
	color:#129dc0;
}
.content h2 {
	color:#000;
}
.content h3 {
	color:#129dc0;
}
.book_content h1 {
	color:#000;
}
.book_content h2 {
	color:#003E6A;
}
.book_content h3 {
	color:#000;
}
.sectionname {
	font-size: 1.4em;
	color: #129dc0;
}
.course-content ul li.section.main.current {
    background-color: #d9edf7;
}

/*_________________ Liens _________________*/
a:link,
a:visited {
    color: #0000FF;
	text-decoration:none;
}
a:hover {
	color:#FF0000;
	text-decoration:underline;
}

/*_________________ hr _________________*/
hr {
	color:#e0e31a;
}

/*_________________ Tableaux _________________*/
table caption,
.course-content th,
.course-content td, 
.generalbox th, 
.generalbox td, 
.oublog-post th, 
.oublog-post td, 
.forumpost th, 
.forumpost td {
    border: 1px solid;
}
.foldertree td{
    border: 0 none;
}

/*_________________ Forums _________________*/
.path-mod-forum .forumheaderlist {
    background-color: #fff;
    border-color: #e0e31a;
    border-style: solid;
    border-width: 1px;
}
.path-mod-forum .forumheaderlist .discussion .topic, .path-mod-forum .forumheaderlist .discussion .topic.starter, .path-mod-forum .forumheaderlist .discussion .picture, .path-mod-forum .forumheaderlist .discussion .author, .path-mod-forum .forumheaderlist .discussion .replies, .path-mod-forum .forumheaderlist .discussion .lastpost {
    padding: 0.3em 0.6em;
    vertical-align: top;
}
.forumpost {
    background-color: #fff;
    border: 1px solid #e0e31a;
}

/*_________________ Boutons _________________*/
input[type="submit"], button {
	background-color:#0b9ec1;
	color:#fffffb;
	border-color:#e0e31a;
	border-style:solid;
	border-width:1px;
	margin-left:2px;
	background-image:none;
}
button[disabled]:active, 
button[disabled],
input[type="reset"][disabled]:active,
input[type="reset"][disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
select[disabled] > input[type="button"],
select[disabled] > input[type="button"]:active,
input[type="submit"][disabled]:active,
input[type="submit"][disabled] {
	border-color:#999999;
	border-style:solid;
	border-width:1px;
	color: GrayText;
	background-color:#FFFFFF;
	cursor: inherit;
	background-image:none;
}
input.form-submit, 
input#id_submitbutton, 
input#id_submitbutton2, 
.path-admin .buttons input[type="submit"], 
td.submit input {
    background-color: #0b9ec1;
    background-image: none;
	border-color:#e0e31a;
	color:#fffffb;
    text-shadow:none;
}
input[type="submit"]:visited,
input[type="submit"]:hover,
input[type="submit"]:active,
button:visited,
button:hover,
button:active,
input.form-submit:visited,
input.form-submit:hover, 
input.form-submit:active, 
input#id_submitbutton:visited,
input#id_submitbutton:hover,
input#id_submitbutton:active, 
input#id_submitbutton2:visited,
input#id_submitbutton2:hover, 
input#id_submitbutton2:active, 
.path-admin:hover .buttons input[type="submit"]:visited, 
.path-admin:hover .buttons input[type="submit"]:hover,
.path-admin:hover .buttons input[type="submit"]:active,
td.submit input:visited, 
td.submit input:hover, 
td.submit input:active {
	background-image:none;
	background-color:#fffffb;
	color:#0b9ec1;
}
button[disabled]:hover,
input[type="reset"][disabled]:hover,
input[type="button"][disabled]:hover,
select[disabled] > input[type="button"]:hover,
input[type="submit"][disabled]:hover {
	background-image:none;
}

/*_________________ Texte droit d'auteur dans les pieds de page _________________*/
.droitauteur {
	font-size:0.65em;
	text-align:center;
}

/*_________________ Pied de page _________________*/
#page-footer {
    border-top: 2px solid #e0e31a;
    margin-top: 1em;
    padding: 1em 0;
    font-size: 0.8em;
}

/*_________________ Cacher les cours manquants _________________*/
.coursManquants{
	display:none;
}

/*_________________ Liens grisonées _________________*/
.course-content ul li.section.hidden .sectionname > span, .course-content ul li.section.hidden .content > div, .course-content ul li.section.hidden .activity .activityinstance {
    opacity: 0.85;
}
a.dimmed, a.dimmed:link, a.dimmed:visited, a.dimmed_text, a.dimmed_text:link, a.dimmed_text:visited, .dimmed_text, .dimmed_text a, .dimmed_text a:link, .dimmed_text a:visited, .usersuspended, .usersuspended a, .usersuspended a:link, .usersuspended a:visited, .dimmed_category, .dimmed_category a {
    color: #777;
}

/*_________________ Page Mon Moodle _________________*/
#page-my-index .coursManquants{
	display:block;
}

/*_________________ Modifications OuBlog _________________*/
#page-mod-oublog-view #middle-column.has-left-column, #page-mod-oublog-viewpost #middle-column.has-left-column, #page-mod-oublog-allposts #middle-column.has-left-column {
    margin-left: 0;
}





/*_________________ Quiz _________________*/
.answer label {
	padding-left:15px;
}


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
